body {
  font-family: "Righteous", cursive;
}

.container {
  text-align: center;
}

#answer-buttons {
  margin-top: 30px;
}

#questions-container {
  font-size: 30px;
  padding: 30px;
  margin-bottom: 30px;
}

.button-rows {
  display: grid;
  gap: 10px;
}

.btn.correct {
  background-color: rgb(66, 202, 123);
}

.btn.wrong {
  background-color: rgb(216, 67, 67);
}

.controls {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*NOT WORKING - WHY 
/* .high-score-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hide {
  display: none;
}

/* NOT WORKING - WHYYYYYY */
/* .score-container {
  display: flex;
  justify-content: center;
  text-align: center;
} */
